.page {
    color: lightseagreen;
    background-color: rgba(51, 51, 51, 0.501);
    height: 99vh;
}

*{
    list-style-type: None;
}

h1, h2{
    text-shadow: -1px 0 rgb(87, 87, 87), 0 1px rgb(87, 87, 87), 1px 0 rgb(87, 87, 87), 0 -1px rgb(87, 87, 87);
}

a{
    color : #ffffff;
    text-decoration : none
}

a:hover{
    color : #bbbbbb;
}

.card{
    color:skyblue
}